/* problem
class diye alada korar pore o tag er nam diye call korar pore dui tag e css apply hochhe */
h1{
    font-size: 50px;
    color:red; 
}




.hudai{
font-weight: 900;
font-size: 100px;
font-style: oblique;
font-family: 'Noto Sans JP', sans-serif;
}